.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    padding: 10px;
    border: 2px solid red;
    display: inline-block;
}

.button {
    margin-left: 13.6rem;
}